.task {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: gray;
    align-items: center;
}
.task1 {
    display: flex;
}
.task11 {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.sec {
    display: flex;
    background-color: gray;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}
.sec2 {
    display: flex;
    background-color: aquamarine;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-right: 60px;
}
.radio {
    display: flex;
    justify-content: center;

}
.radio div{
    display: flex;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: gray;
}
.serv {
    display: flex;
    justify-content: space-between;

}
.serv div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: gray;
    margin: 20px;

}
.serv1 {
    display: flex;
    justify-content: space-between;    
}
.serv1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 150px;
    width: 150px;
    margin: 20px;
}
.twi {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: gray;
    height: 50px;
    margin: 20px;
}
.last {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    height: 50px;
    
}
.last1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.last2 {
    display: flex;
    justify-content: center;
    align-items: center;

}